
.about-wrapper {
    width: 30%;
    line-height: 1.48;
    display: flex;
    flex-direction: column;
    gap: 3.4em;
  }
  
  .about-wrapper ul {
    padding: 0;
  }
  
  .about-wrapper li {
    list-style: none;
    color: #007BFF;
    margin-bottom: 0.3em;
  }
  
  .about-heading {
    font-size: 1.75em;
    font-weight: 700;
    font-style: italic;
    color: black;
    margin-bottom: 16px;
  }
  
  .about-content {
    padding: 20px;
    background-color: #F8F9FA;
    border-radius: 5px;
  }
  


  @media (max-width: 400px) {
 

 
  
    .about-wrapper {
      width: 100%;
    }
  
  
    .archives-wrap {
      padding-left: 23px
    }
  
  }
  
  
  
  
  
  